/* frontend/static/css/styles.css */

/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}

td img {
    max-width: 100px;
}

/* Ajustes específicos para el ancho de columnas */
th.top, td.top {
    width: 5%;
}

th.score, td.score {
    width: 10%;
}

th.track-id, td.track-id {
    width: 15%;
}

th.name, td.name {
    width: 10%;
}

th.artist, td.artist {
    width: 10%;
}

th.lyrics, td.lyrics {
    width: 30%;
}

th.keywords, td.keywords {
    width: 15%;
}

th.image, td.image {
    width: 10%;
}

