/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Estilos para el contenedor de búsqueda */
.search-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-container label {
    display: block;
    margin: 10px 0 5px;
}

.search-container input,
.search-container select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

/* Estilos para los resultados */
.results-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.results-container h2 {
    margin-top: 0;
}

.results-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-container table, th, td {
    border: 1px solid #ddd;
}

.results-container th, td {
    padding: 10px;
    text-align: left;
}

.results-container img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}
